---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
const {frontmatter: fm} = Astro.props;
let date = "";
if (fm.pubDate) {
    date = new Date(fm.pubDate).toLocaleDateString()
}
---
<BaseLayout pageTitle={fm.title}>
    <p><em>{fm.description}</em></p>
    <p>Written by {fm.author}</p>
    {date && <p>Published on: {date}</p>}
    {fm.image && <img width="300" src={fm.image.url} alt={fm.image.alt}/>}
    <Tags tags={fm.tags}/>
    <slot/>
</BaseLayout>